<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Welcome to inc-ognito</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/signup.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1" style="font-weight: bold;">
  	<i class="fas fa-user-secret" style="font-size: xx-large;margin-right: 15px;"></i><a href="" style="color: white">Inc-ognito</a><span style="padding-left: 3vw;"><a  style="color: white" href="/"><%= currentUser.fname%> <%= currentUser.sname%></a>


  		<div class="btn-group" style="margin-left: 10px;">
		  <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
		    <span class="sr-only">Toggle Dropdown</span>
		  </button>
		  <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
		    <a class="dropdown-item backcol" href="/logout">Sign Out</a>
		  </div>
		</div>





  		</span>
  </span>
  <span class="navbar-text" style="color: white">
      Stay Anonymous.
    </span>
</nav>

<div class="row container-fluid" style="margin: 0;padding: 0;background-color: #343a40">
	 <% if(error && error.length > 0){ %>
              <div class="container ">
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div></div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="container">
            <div class="alert alert-success" role="alert">
                <%= success %>
                 </div></div>
        <% } %>
	<div class="col-12 mainpp" style="border-radius: 0 0 0 30%;">


		<div class="row" style="margin-top: 2vw">


			<!-- profile part -->


			<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
				<div class="row">
					<div class="col-1"></div>
					<div class="col-lg-10 col-md-5 col-sm-5" style="text-align: center;">

						<!-- profile image -->

						<div class="row" style="height: 40vh;"><img src="/uploads/<%= currentUser.img %>" height="100%" width="100%"></div>


						<!-- upload image -->

					<form action="/uploadimage" method="post" enctype="multipart/form-data">
						<div class="row">
							<div class="input-group mb-3">
							  <div class="custom-file">
							    <input type="file" name="file"accept="image/*" id="inputGroupFile02" required>
							  </div>
							  <div class="input-group-append">
							    <input class="input-group-text" type="submit" id="inputGroupFileAddon02" value="Upload">
							  </div>
							</div>
						</div>
					</form>
						<!-- rating -->


						<div class="row" style="padding-left: 17%;">
							<script>
								var rate = <%=user.avgrating%>;


								var rate2 = 5-rate;
								while(rate>=1){
									document.write("<span><i class=\"fas fa-star\"></i></span>");
									rate--;
								}
								if(rate>0){
									document.write("<span><i class=\"fas fa-star-half-alt\"></i></span>");
								}
								while(rate2>=1){
									document.write("<span><i class=\"far fa-star\"></i></span>");
									rate2--;
								}
							</script>
						</div><%=user.totalrating %> Rating(s)
						

							    


					</div>
					<div class="col-1"></div>
				</div>
			</div>



			<!-- messages part -->


			<div class="col-lg-6 col-md-4 col-sm-12 col-xs-12" style="background-color: #343a40;border-radius: 5px;">
				<div class="row">



					<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 next">
						<div style="position:absolute;bottom: 5px;left: 5px" id="left">
							<i class="fas fa-chevron-left" onclick="prevfour();"></i>
						</div>
					</div>



					<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">

						<h1 style="margin-top: 10px;margin-bottom: 20px;color: white">Your Messages</h1><hr>

						<!-- Message Loop start -->


				<div style="overflow: auto;height: 70vh" id="messagebox">
					<script>
						var ar = new Array();

						var x = 0;
						  var incom=new Array;
						    <% user.comments.forEach((com)=>{ %>
						    	incom.push("<%=com.commentdata%>");
						   <% }) %>
						for(i=0;i<incom.length;i++){
							ar[i] = "<div class=\"message\" id=\"tempmes\">\""+incom[i]+"\"</div>";
						}
						var meslen = incom.length;
						i=0;
						printmes();
						function printmes(){
							var j = i+4;
							while(i<j && i<meslen){
								document.getElementById("messagebox").innerHTML += ar[i];
								i++;
							}
							if(i>=meslen){document.getElementById("right").style.visibility="hidden";}
							else{document.getElementById("right").style.visibility="visible";}
							if(i-4<=0){document.getElementById("left").style.visibility="hidden";}
							else{document.getElementById("left").style.visibility="visible";}
						}
						function nextfour(){
							del();
							printmes();
						}
						function prevfour(){
							if(i-8>=0){
								i=i-8;
								del();
								printmes();
							}
							else{
								i=0;
								del();
								printmes();
							}
						}
						function del(){
							if(document.getElementById("tempmes")){
								elem = document.getElementById("tempmes");
								elem.parentNode.removeChild(elem);
							}
							if(document.getElementById("tempmes")){
								elem = document.getElementById("tempmes");
								elem.parentNode.removeChild(elem);
							}
							if(document.getElementById("tempmes")){
								elem = document.getElementById("tempmes");
								elem.parentNode.removeChild(elem);
							}
							if(document.getElementById("tempmes")){
								elem = document.getElementById("tempmes");
								elem.parentNode.removeChild(elem);
							}
						}

					</script>
				</div>

						<!-- message loop end -->



					</div>
					<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 next">
						<div style="position: absolute;bottom: 5px;right: 5px;" id="right">
							<i class="fas fa-chevron-right" onclick="nextfour();"></i>
						</div>
					</div>	
				</div>
			</div>


			<!-- search friends part -->

					<% include ./partials/search %>

			
		</div>



			
	</div>
</div>

</body>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/js/search.js"></script>
</html>